<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <webservice>
        <hostname>localhost</hostname>
        <webport>8080</webport>
    </webservice>
    <application>
        <authentication>true</authentication>
        <relay-url>localhost:8080</relay-url>
        <max-sessions>100</max-sessions>
        <tcp-session-timeout>60</tcp-session-timeout>
        <auth-session-timeout>600</auth-session-timeout>
        <blacklist>
            <network>192.168.0.0/16</network>
            <network>169.254.0.0/16</network>
            <network>172.16.0.0/12</network>
            <network>127.0.0.0/8</network>
            <network>10.0.0.0/8</network>
            <network>0.0.0.0/8</network>
            <network>fe80::/10</network>
            <host>93.186.192.89</host>
        </blacklist>
    </application>
    <accesslist>
        <user>
            <id>106115425408777447603</id>
            <network>192.168.0.0/16</network>
            <host>127.0.0.1</host>
        </user>
    </accesslist>
</config>
