<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

   <appender name="FILE" class="org.apache.log4j.RollingFileAppender">
      <param name="File" value="nassh-relay.log"/>
      <param name="MaxFileSize" value="10MB"/>
      <param name="MaxBackupIndex" value="10"/>
      <param name="Threshold" value="INFO"/>

      <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern" value="%d %-5p [%c] %m%n"/>
      </layout>
   </appender>

   <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
      <param name="Target" value="System.out"/>
      <param name="Threshold" value="INFO"/>

      <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern" value="%d %-5p [%c] %m%n"/>
      </layout>
   </appender>

   <appender name="ASYNC" class="org.apache.log4j.AsyncAppender">
     <param name="Blocking" value="false"/>
     <appender-ref ref="FILE"/>
     <appender-ref ref="CONSOLE"/>
   </appender>

   <category name="net.zyclonite.nassh">
      <priority value="DEBUG"/>
   </category>

   <category name="com.hazelcast">
      <priority value="WARN"/>
   </category>

   <category name="javax.management">
      <priority value="INFO"/>
   </category>

   <category name="io.netty">
      <priority value="INFO"/>
   </category>

   <category name="org.apache">
      <priority value="INFO"/>
   </category>

   <category name="org.apache.commons.configuration">
       <priority value="WARN"/>
   </category>

   <category name="com.google">
      <priority value="INFO"/>
   </category>

   <category name="sun.net">
      <priority value="INFO"/>
   </category>

   <root>
      <priority value="INFO" />
      <appender-ref ref="ASYNC" />
   </root>

</log4j:configuration>
